@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100vh;
    background-color: #1f2d3b;
    color: #fff;
}

.container {
    max-width: 1920px;
    text-align: center;
    width: 80vw;
    margin: 10vh auto;
    overflow: hidden;
}
