.mainNavHeader {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px white solid;
  background-color: #151f29;
  h1 {
    color: #fff;
    font-weight: 500;
  }
}
