.mainNav {
  heigh: 100px;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  li {
    margin: 0 5px;
  }

  a {
    color: white;
  }
}
