.mainNavHeader {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px white solid;
  background-color: #151f29;
}

.mainNavHeader h1 {
  color: #fff;
  font-weight: 500;
  z-index: 10;
}

.scale {
  transform: scale(0.3) translateX(200px);
  display: inline;
}
