.receiptFormWrapper {
  display: flex;
  margin-top: 2rem;

  .receiptForm {
    flex-direction: row;
    align-items: center;

    text-align: center;
  }
  .error-message {
    display: block;
    color: red;
  }
}
